table {
    border-collapse: collapse;
    width: 20%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        display: block;
    }
    th, td {
        display: block;
    }
}
